* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background: #845bde;
    padding: 25px;
    margin-bottom: 35vh;
}

header {
    background: #845bde;
    color: #030a01;
    padding: 20px;
    text-align: center;
}

.record-logo {
    width: 100vw;
    height: 65vh;
}

.record-logo img {
    height: 100%;
    width: 35%;
    object-fit: cover;
    object-position: top center;
}

.image-container img {
    border: 2px solid #020417;
    border-radius: 3px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.content-container {
    display: flex;
    flex-direction: row;
}

marquee {
    color: chartreuse;
}

nav ul li a {
    color: chartreuse;
    text-align: left;
}


form {
    color: #3E2B69;
    display: flex;
    flex-direction: column;
    background: url(https://static.vecteezy.com/system/resources/previews/004/998/381/original/music-notes-and-vintage-vinyl-records-seamless-pattern-elements-of-the-pattern-are-separated-from-the-white-background-free-vector.jpg);
    padding: 5px 20px;
}

input, select {
    width: 40%;
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #845bde;
    color: #031304;
    font-size: 14px;
    padding: 25px;
    height: 35vh;
  }